# Java / Maven
report/*
!report/karate-report/
!report/karate-report/**
*.log
*.tmp
*.class
*.jar
*.war
*.iml
.idea/

# Karate / Test artifacts
karate-output/
screenshots/
report/
*.bak

# OS files
.DS_Store